:root {
    --fontPoppins: 'Poppins', sans-serif;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: var(--fontPoppins);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 1.5rem;
    font-weight: 700;
}

img,
p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.form-container > form > label {
    margin-right: 5px;
    font-size: 1.2rem;
}

.form-container > form > input {
    height: 2rem;
    width: 15rem;
    padding: 0rem 1rem;
}

.form-container > form > button {
    height: 2.2rem;
    width: 5rem;
    font-size: 1rem;
}